.ohno {
    background-color: lightpink;
    border: 1px solid red;
}

.enrage {
    background-color: lightpink;
    border: 3px solid red;
    padding: 5px;
}

.hidden {
    display: none;
}

.dropzone {
    display: inline-block;
    width: 40%;
    height: 200px;
    border: 2px solid black;
    background-color: azure;
}

.food {
    border: 1px solid green;
    background-color: lightgreen;
    display: inline-block;
    width: 10%;
    margin: 1%;
    text-align: center;
    cursor: pointer;
}